/*Used the following source as a reference: https://www.w3schools.com/howto/howto_js_filter_elements.asp*/
.container {
  overflow: hidden;
}

.col-sm-12 {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btnFilter {
  border: none;
  padding: 1%;
  border-radius: 1%;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Add a dark grey background on mouse-over */
.btnFilter:hover {
  background-color: #4d4c4c;
}

/* Add a light background and dark text to the active button */
.active {
  background-color: #a3a3a3;
  color: black;
}
